USE [EcomDB]
GO
/****** Object:  StoredProcedure [dbo].[Orders_ReadByID]    Script Date: 09-02-2026 10:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_ReadTotalByID]
   @Id INT
AS 
BEGIN
    SET NOCOUNT ON;

    SELECT 
    o.[Id],
    o.[CustomerId],
    o.[OrderDate],
    o.[TotalAmount],
    SUM(oi.Price * oi.Quantity) AS [Total],
    o.[CreatedBy],
    o.[CreatedDate],
    o.[ModifiedBy],
    o.[ModifiedDate],
    o.[IsDeleted]
FROM [EcomDB].[dbo].[Orders] o
INNER JOIN [EcomDB].[dbo].[OrderItems] oi 
    ON oi.OrderId = o.Id
WHERE 
   o.IsDeleted = 0
  AND oi.IsDeleted = 0
GROUP BY 
    o.[Id],
    o.[CustomerId],
    o.[OrderDate],
    o.[TotalAmount],
    o.[CreatedBy],
    o.[CreatedDate],
    o.[ModifiedBy],
    o.[ModifiedDate],
    o.[IsDeleted];
END
