USE [EcomDB]
GO
/****** Object:  StoredProcedure [dbo].[OrderItems_ReadByID]    Script Date: 10-02-2026 08:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_ReadTotalAmountById]
   @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  O.[Id]
      ,O.[CustomerId]
      ,O.[OrderDate]
      ,SUM(OI.Price*OI.Quantity) AS [TotalAmount]
  FROM [EcomDB].[dbo].[Orders] O
  INNER JOIN OrderItems OI ON OI.OrderId=O.Id
 
  WHERE 
 O.IsDeleted=0
  AND OI.IsDeleted=0
  GROUP BY O.[Id]
        ,[CustomerId]
      ,[OrderDate]
      
END