USE [EcomDB]
GO
/****** Object:  StoredProcedure [dbo].[Orders_ReadWithCustomer]    Script Date: 10-02-2026 08:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Orders_ReadCustomerDetails]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        O.Id AS OrderId,
        C.FirstName + ' ' + C.LastName AS CustomerName,
        O.OrderDate,
        O.TotalAmount
    FROM [EcomDB].[dbo].[Orders] O
    INNER JOIN [EcomDB].[dbo].[Customers] C 
        ON C.Id = O.CustomerId
    WHERE O.IsDeleted = 0
      AND C.IsDeleted = 0;
END
