USE [EcomDB]
GO
/****** Object:  StoredProcedure [dbo].[Products_ReadByID]    Script Date: 10-02-2026 09:10:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Products_ReadBylowStockQuantity]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        ProductName,
        StockQuantity,
        Category
    FROM Products
    WHERE StockQuantity <40
      AND IsDeleted = 0;
END
