USE [EcomDB]
GO
/****** Object:  StoredProcedure [dbo].[Customers_ReadByID]    Script Date: 10-02-2026 08:24:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Products_ReadTopBestSelling]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 5
        P.Id as ProductId,
        P.ProductName,
        SUM(OI.Quantity) as TotalQuantity
    FROM [EcomDB].[dbo].[OrderItems] OI
    INNER JOIN [EcomDB].[dbo].[Products] P
        ON P.Id = OI.ProductId
    WHERE OI.IsDeleted = 0
      AND P.IsDeleted = 0
    GROUP BY 
        P.Id,
        P.ProductName
    ORDER BY 
        SUM(OI.Quantity) DESC;
END
GO