.custom-navbar{
  background: url("../images/up4.jpeg") no-repeat center center/cover;
  height: 80px;
}


.custom-navbar .nav-link,
.custom-navbar .btn-link {
  color: #000 !important;
  font-weight: 600;
}


.navbar-logo {
    width: 50px;
    height: 40px;
    object-fit: cover;
    border-radius: 15%;
}
.nav-link.active {
  border-bottom: 2px solid #000;
}



.home-section {
    margin: 20px;
}

.home-img {
    width: 1500px;
    height: 600px;         
   
}


.login-wrapper {
    background: url("../images/login1.jpeg") no-repeat center center/cover;
}


.login-title {
    background-color: rgb(238, 152, 206);
}


.back-btn {
    background-color: rgb(241, 240, 238);
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

.btn:hover {
  transform: translateY(-1px);
  transition: 0.2s;
}

.table thead {
  background-color: #ececff;
}

.table-hover tbody tr:hover {
  background-color: #f5f7ff;
}


#custom-cards .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.action-item {
  font-size: 18px;
  font-weight: 500;
}

.input-group-text,
.form-control,
.form-select {
  border-radius: 6px;
}
.input-group-text img {
  opacity: 0.6;
}

.card {
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

