body {
    
    background-color: #f9d3d3;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.05) 10px,
        transparent 10px,
        transparent 20px
    );
    padding: 10px;
    padding-bottom: 80px;   
    color: black;
}

.form-card {
    max-width: 420px;
}
  
  .sitefooter {
    font-size: 0.8rem;
  }
  

  .card {
    transition: 0.2s;
}
.card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    transform: translateY(-2px);
}

  .content-box {
    max-width: 100%;  
    margin: 0 auto 30px auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0.3rem 0.6rem rgba(0,0,0,0.1);
}


.content-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.login-wrapper {
            min-height: 100vh;
        }

.login-box {
            max-width: 420px;
            width: 100%;
        }


.login-box input {
    border-radius: 5px;
}


.login-box button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    transition: 0.2s;
}


@media (max-width: 768px) {
    .login-box {
        margin-top: 20px;
        padding: 25px 20px;
    }
}
