USE [EcomDB]
GO
/****** Object:  StoredProcedure [dbo].[Orders_ReadByID]    Script Date: 10-02-2026 07:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ReadCustomersWithXOrders]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        C.Id,
        C.FirstName + ' ' + C.LastName AS CustomerName,
        COUNT(O.Id) AS TotalOrders
    FROM Customers C
    INNER JOIN Orders O ON O.CustomerId = C.Id
    WHERE C.IsDeleted = 0
      AND O.IsDeleted = 0
    GROUP BY C.Id,
    C.FirstName,
    C.LastName
    HAVING COUNT(O.Id) >= 1;
END
GO